html,
body {
    margin: 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headerText {
    font-size: 18px;
    font-weight: bold;
}

.error {
    color: red;
}

input {
    width: 180px;
    height: 20px;
    margin-bottom: 10px;
}

select {
    width: 180px;
    height: 20px;
    margin-bottom: 10px;
}

.btn {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(63, 160, 252);
    color: #fff;
    margin-bottom: 10px;
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    margin: 10px 0px 10px 0px;
}

tr,
th,
td {
    border: 1px solid rgb(205, 205, 205);
    padding: 10px;
}